# Project Environment test/prod
PROJECT_ENVIRONMENT=test

# Snowflake config [peod]
showflake_account=xxx
showflake_user=xx
showflake_password=xx
showflake_role=xx
showflake_database=xx
showflake_warehouse=xxx
showflake_schema=xx

# duckdb config [test]
duckdb_file_path=xxxx
